.contenedor_principal {
  background-color: #262626;
  font-family: "Roboto", sans-serif;
}

@media (min-width: 768px) and (max-width: 1024px) {
}

@media (max-width: 768px) {

  .contenedor_principal {
    margin-bottom: 100px;
  }
}